.header-container {
  display: flex;
  justify-content: center;
}

.header-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.information-container {
  display: flex;
  justify-content: space-around;
}

.searcher-container {
    display: flex;
    justify-content: center;
}

.sorters-container {
    display: flex;
    justify-content: space-around;
}
